* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #090909;
}

a {
    position:relative;
    display: inline-block;
    color:#1fd1e4;
    font-size: 22px;
    padding: 15px 30px;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

a:hover{
    color:#050801;
    cursor: pointer;
    background-color:#03e9f4 ;
    box-shadow: 0px 0px 5px #03e9f4,
                0px 0px 25px #03e9f4,
                0px 0px 50px #03e9f4,
                0px 0px 100px #03e9f4 
                ;
}

a span {
    position: absolute;
    /* border: 1px solid yellow; */
    display: block;
}
a span:nth-child(1) {
    top:0;
    left: 0;
    width:100%;
    height:2px;
    background: linear-gradient(90deg,transparent,#03e9f4 );
    animation: animate1 0.5s linear infinite;
}

@keyframes animate1 {
    0% {
       left:-100% 
    }
    50%,100% {
        left:100%
    }
}

a span:nth-child(2) {
    top:-100%;
    right: 0;
    width:2px;
    height:100%;
    background: linear-gradient(180deg,transparent,#03e9f4 );
    animation: animate2 0.5s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
       top:-100% 
    }
    50%,100% {
        top:100%
    }
}


a span:nth-child(3) {
    bottom: 0%;
    right: 100%;
    width:100%;
    height:2px;
    background: linear-gradient(90deg,transparent,#03e9f4 );
    animation: animate3 0.5s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate3 {
    0% {
       right:-100% ;
    }
    50%,100% {
        right:100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left:0%;
    width:2px;
    height:100%;
    background: linear-gradient(180deg,transparent,#03e9f4 );
    animation: animate4 0.5s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate4 {
    0% {
       bottom:-100% ;
    }
    50%,100% {
        bottom:100%;
    }
}