* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(180deg, #edc531,#e9d435);
}


.nav-container {
  height:8vh;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -9;
}

.nav-container .left-side {
  margin-left: 20px;
}

.nav-container .right-side {
  width:40%;
  backdrop-filter: blur(10px);
  background: linear-gradient(180deg,#ff9523,#fff01d);
  height: 6vh;
  margin-right: 20px;
  border-radius: 50px;
}

.nav-container .right-side ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style:  none;  
}

.nav-container .right-side ul li {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

.icecream-text-container {
  height: 90vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(180deg, #edc531,#e9d435);
} 

.icecream-text-container img {
 width:700px;
 height:1000px;
 transform: rotate(40deg) translateX(-24%) translateY(2%);
 animation: fromTop 1.3s ease-in-out;
 transition: all 0.3s ease-in;
 overflow: hidden;
}

.sprinkles {
  position: absolute;
  bottom:45%;
  left:40%;
  height:45vh;
  width:20vw;
  border-radius: 50%;
  /* border: 1px solid red; */
  display: flex; 
  justify-content: center;
  align-items: start;
  /* gap:2px; */
}

.sprinkles span {
  height:8px;
  width: 55px;
  /* border: 1px solid blue; */
  border-radius: 8px;
  animation: sprinkles 1s ease-in-out infinite alternate;
  transition: all 0.3s ease-in;
}

@keyframes sprinkles {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}


@keyframes fromTop {
  0% {
    transform: rotate(40deg) translateY(-1100px);
  }
  100% {
    transform: rotate(40deg) translateX(-24%) translateY(2%);
  }
}

.icecream-text-container {
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icecream-text-container .Ice-text {
  position: absolute;
  top: 25%;
  left:15%;
  font-size: 12rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Arial';
  color: #fffadf;
  transition: all 0.3s ease-in;
  animation: animate01 1s ease-in-out forwards;
  /* animation-delay: 0.1s; */
  opacity: 0;
}

.icecream-text-container .Cream-text {
  position: absolute;
  bottom: 25%;
  right:15%;
  font-size: 12rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fffadf;
  font-family: 'Arial';
  transition: all 0.3s ease-in;
  animation: animate01 1s ease-in-out;
  /* animation-delay: 0.3; */
}

@keyframes animate01 {
  0% {
    transform: translateX(-1800px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
  
}

img{
  height:500px;
  width:500px;
}

.card-container {
  width:100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-01 {
  height:50vh;
  width:8vw;
  border-radius: 1px solid green;
}