* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07252d;
}

h2 {
    position: relative;
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
    outline: none;
    color:#0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    animation: lightingtext 5s linear infinite;
}

@keyframes  lightingtext {
    0%,18%,20%,40%,50%,70%,80%,90% {
        color:#0e3742;
        text-shadow: none;
    }
    18.1%,25.5%,45%,55%,65%,85%,95%,100% {
        color: #fff;
        text-shadow:0px 0px 10px #39dbff,
                    0px 0px 20px #39dbff,
                    0px 0px 40px #39dbff,
                    0px 0px 80px #39dbff,
                    0px 0px 160px #39dbff;
    }
}


