* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #d126c0, #384fd0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 70px;
    width:70px;
    background: #484848;
    border-radius: 5px;
    overflow: hidden;
    animation: bounce 1.5s linear forwards 0.7s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,20%,30%,40%{
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.1,0.8);
  }
  60%,70%,80%,90%,100% {
    transform: scale(1,1);
  }
}

img{
    height:60px;
}

.box .arrow img{
    /* border:1px solid red; */
    /* height: 80px;
    width:80px; */
    margin-left: 8px;
    margin-top: 0px;
    transform:rotate(90deg);
    animation: topdown 1.5s ease-in  ;
    animation-iteration-count: infinite;
}

@keyframes topdown {
    0% {
        transform: translateY(-10px) rotate(90deg);
        /* opacity: 1; */
    }
    50% {
        /* opacity: 1; */
        transform: translateY(20px) rotate(90deg);
    }
    70%{
       /* opacity: 1; */
       transform: translateY(40px) rotate(90deg); 
    }
    80%{
        /* opacity: 1; */
        transform: translateY(60px) rotate(90deg);
    }
    90%{
        /* opacity: 1; */
        transform:  translateY(80px) rotate(90deg);
    }
    100% {
        /* opacity: 0; */
        transform: translateY(100px) rotate(90deg);
    }

}

